<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="/Home/Index"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logotantuni.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="/Home/Index"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/minilogot.png" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-category">
            <span class="nav-link">Yönetim Paneli</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "MenuItem")">
                <span class="menu-icon">
                    <i class="mdi mdi-silverware-fork-knife"></i>
                </span>
                <span class="menu-title">Menü Öğeleri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Category")">
                <span class="menu-icon">
                    <i class="mdi mdi-format-list-bulleted"></i>
                </span>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "About")">
                <span class="menu-icon">
                    <i class="mdi mdi-information-outline"></i>
                </span>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "TeamMember")">
                <span class="menu-icon">
                    <i class="mdi mdi-account-group"></i>
                </span>
                <span class="menu-title">Ekip Üyeleri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "GalleryImage")">
                <span class="menu-icon">
                    <i class="mdi mdi-image-multiple"></i>
                </span>
                <span class="menu-title">Galeri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "ContactInfo")">
                <span class="menu-icon">
                    <i class="mdi mdi-map-marker-outline"></i>
                </span>
                <span class="menu-title">İletişim Bilgileri</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Message")">
                <span class="menu-icon">
                    <i class="mdi mdi-email-open-outline"></i>
                </span>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Comment")">
                <span class="menu-icon">
                    <i class="mdi mdi-comment-multiple-outline"></i>
                </span>
                <span class="menu-title">Müşteri Yorumları</span>
            </a>
        </li>
    </ul>
</nav>