@using lokantaWebProject.Entities
@model MenuItem
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Menu Item Details</h4>

            <dl class="row">
                <dt class="col-sm-4">Name</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4">Description</dt>
                <dd class="col-sm-8">@Model.Description</dd>

                <dt class="col-sm-4">Price</dt>
                <dd class="col-sm-8">@Model.Price.ToString("C")</dd>

                <dt class="col-sm-4">Category</dt>
                <dd class="col-sm-8">@Model.Category?.Name</dd>
            </dl>

            <a href="@Url.Action("Edit", "MenuItem", new { id = Model.Id })" class="btn btn-primary">
                <i class="fa fa-pencil-alt"></i> Edit
            </a>
            <a href="@Url.Action("Index", "MenuItem")" class="btn btn-secondary">
                Back to List
            </a>
        </div>
    </div>
</div>


